input[type="file"] {
  display: none;
}
textarea {
  overflow: auto;
  resize: none;
}

.error {
  &-msg {
    color: #ff0000;
    font-weight: 700;
    font-size: 1.5rem;
  }
}
.profil {
  &-image {
    min-width: 200px;
  }
  &-img {
    display: block;
    border: 5px solid #ddd;
    box-shadow: 0 5px 10px rgba(#ddd, 0.7);
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
  }
  &-info {
    flex-grow: 1;
  }
}

.messages {
  article {
    img {
      height: 70px;
      width: 70px;
      object-fit: cover;
      display: block;
      border-radius: 50%;
    }
  }
}

.card {
  &-header {
    justify-content: space-between;
    align-items: center;
    div {
      &:nth-child(1) {
      }
      &:nth-child(2) {
        text-align: left;
        flex: 1;
        padding: 0 10px;
      }
      &:nth-child(3) {
      }
    }
  }
}
